<div class="signinbox">
  <div>
    <div><h1>Anmeldung</h1></div>
    <div>
      <div>
        <p>
          Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
          verwendest.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div><input type="email" placeholder="beispielname@email.com" /></div>
      <div><input type="password" placeholder="Passwort" /></div>
    </div>
    <div><a routerLink="/Passwort vergessen?">Passwort vergessen?</a></div>
  </div>
  <div>
    <div class="divider">ODER</div>
  </div>
  <div>
    <div>
      <button href="">
        <img src="/img/Google.png" alt="" /> Anmelden mit Google
      </button>
    </div>
    <div><a href="">Anmelden</a><a href="">Gäste-Login</a></div>
  </div>
</div>
