<section>
    <div class="chat-header">
        <div>
            <div class="imageContainer">
                <img [src]="currentReciever.profilephoto" alt="">
                <div class="status-dot" [ngClass]="{'green': currentReciever.online}"></div>
            </div>

            <span>{{currentReciever.fullname}}</span>
        </div>
    </div>
    <div>
        <div *ngFor="let message of currentMessages">
            <p>{{message.content}}</p>
        </div>
    </div>
    <div class="textContainer">
        <div>
            <textarea  [(ngModel)]="message" name="" id="" placeholder="Nachricht an {{currentReciever.fullname}}"></textarea>
         <div>
            <div class="left">
                <button><img src="./img/sentiment_satisfied.svg" alt=""></button>
                <button><img src="./img/alternate_email.svg" alt=""></button>
            </div>
         <button (click)="sendMessage()" class="right"><img src="./img/send.svg" alt=""></button>
         </div>
        </div>
    </div>

</section>