app-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceefe;
}

app-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #eceefe;
}
