<div class="borders">
  <app-header></app-header>
  <div class="forgotpassword">
    <div class="content">
      <form #emailform="ngForm" (ngSubmit)="onSubmit()">
        <div>
          <button routerLink="/main">
            <img src="/img/arrow_back.png" alt="" />
          </button>
          <div>
            <div>
              <h1>Passwort zurücksetzen</h1>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="emailinput">
            <input
              #newpassword="ngModel"
              [(ngModel)]="user.password"
              name="password"
              required
              type="password"
              placeholder="Neues Passwort"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            />
          </div>
          <div>
            <div class="emailinput">
              <input
                #newpasswordagain="ngModel"
                [(ngModel)]="user.password"
                name="password"
                required
                type="password"
                placeholder="Neues Kennwort bestätigen"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              />
            </div>
            @if((newpassword.touched || newpasswordagain.touched) &&
            (!newpassword.valid || !newpasswordagain.valid || newpassword.value
            !== newpasswordagain.value) ){
            <span class="error"
              >Bitte geben Sie ein Passwort ein. Es muss mindestens 8 Zeichen
              lang sein, einen Großbuchstaben, einen Kleinbuchstaben und eine
              Zahl enthalten.</span
            >
            }
          </div>
          <div class="btnborder">
            <button [disabled]="emailform.invalid" class="submitbutton">
              Passwort ändern
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</div>
