<div
  class="add-channel-cont"
  [ngClass]="{ 'change-size': !selectChannelMember }"
  data-aos="flip-up"
  [attr.data-aos]="!selectChannelMember ? 'flip-up' : null"
>
  <div *ngIf="!selectChannelMember" class="add-channel-create">
    <div class="add-channel-header">
      <div class="add-channel-text">Channel erstellen</div>
      <div class="close-cont" (click)="closeScree()">
        <img src="img/close.png" alt="" />
      </div>
    </div>
    <div class="description">
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein #marketing zum Beispiel.
    </div>
    <form (ngSubmit)="onSubmit()" #channelForm="ngForm">
      <div class="headline">Channel-Name</div>
      <div class="input-cont">
        <input
          class="channel-name"
          type="text"
          placeholder="z.B. Kooperationsprojekte"
          [(ngModel)]="channelName"
          name="channelName"
          required
        />
      </div>
      <div class="headline-optional">
        <div class="headline">Beschreibung</div>
        <div class="optional">(optional)</div>
      </div>
      <textarea
        class="channel-description"
        type="text"
        name=""
        id=""
        (input)="adjustTextareaHeight($event)"
        (blur)="shrinkTextarea($event)"
        (focus)="expandTextarea($event)"
      ></textarea>
      <button [disabled]="!channelForm.valid">Erstellen</button>
    </form>
  </div>

  <div *ngIf="selectChannelMember" class="select-member-cont">
    <div class="add-channel-user-header">
      <div class="headline-channel-add-user">Leute hinzufügen</div>
      <div class="close-cont" (click)="closeScree()">
        <img src="img/close.png" alt="" />
      </div>
    </div>
    <form action="">
      <div class="decision">
        <div><mat-radio-button value="false" (change)="setChannelMember(false)" checked></mat-radio-button><label for="checkbox-all">Alle Mitglieder von OfficeTeam hinzufügen</label></div>
        <div><mat-radio-button value="true" (change)="setChannelMember(true)"></mat-radio-button><label for="checbox-choose">Bestimmte Leute hinzufügen</label></div>
        <mat-form-field *ngIf="chooseMember">
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="channelUser" multiple>
            <mat-option *ngFor="let user of users" [value]="user.uid">
              <img src="photoURL" alt=""> {{displayName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      <div class="btn-cont">
        <button>Erstellen</button>
      </div>
    </form>
  </div>
</div>
