<div class="add-channel-cont">
    <div class="add-channel-header">
        <div class="add-channel-text">Channel erstellen</div>
        <div><img src="img/close.png" alt=""></div>
    </div>
    <div class="description">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein  #marketing zum Beispiel.</div>
    <div class="headline">Channel-Name</div>
    <input class="channel-name" type="text">
    <div class="headline-optional">
        <div class="headline">Beschreibung</div>
        <div class="optional">(optional)</div>
    </div>
    <input class="channel-description" type="text">

</div>