.add-channel-cont {
  width: 710px;
  height: 279px;
  padding: 40px;
  font-family: "Nunito";
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  position: absolute;
  top: 100px;
  left: 100px;
  transition: width 1s ease-in-out, height 1s ease-in-out, transform 1s ease-in-out;
  transform-origin: center center;
  .add-channel-create {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .close-cont {
      cursor: pointer;
    }
    form {
      display: flex;
      gap: 20px;
      flex-direction: column;
      button {
        width: 125px;
        height: 49px;
        // padding: 12px 25px 12px 25px;
        background-color: var(--dark-purple);
        border-radius: 25px;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 700;
        font-family: "Nunito";
        place-self: end;
      }
    }
    .input-cont {
      position: relative;
      &::before {
        content: "#";
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 26px;
        z-index: 1;
        color: rgba(104, 104, 104, 1);
      }
      .channel-name {
        padding-left: 50px;
        &::placeholder {
          color: rgba(104, 104, 104, 1);
        }
      }
    }
    input,
    textarea {
      outline: none;
      box-sizing: border-box;
      border-radius: 30px;
      height: 60px;
      border: 1px solid rgba(173, 176, 217, 1);
      width: 100%;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      &:hover {
        border: 1px solid var(--medium-purple);
      }
      &:focus-visible {
        border: 1px solid var(--dark-purple-text);
      }
    }
    .add-channel-header {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 700;
      line-height: 32.74px;
    }
    .description {
      font-size: 18px;
      font-weight: 400;
      line-height: 24.55px;
    }
    .headline {
      font-size: 18px;
      font-weight: 700;
      line-height: 24.55px;
    }
    .headline-optional {
      display: flex;
      gap: 4px;
      .optional {
        font-size: 18px;
        font-weight: 400;
      }
    }
    .channel-description {
      padding: 20px;
      min-height: 60px;
      max-height: 170px;
      overflow-y: hidden;
      resize: none;
      transition: height 0.3s;
    }
  }
}

.change-size {
  width: 872px;
  height: 514px;
}

.select-member-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .add-channel-user-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
  }

}