<div class="borders">
  <app-header></app-header>
  <div class="singup">
    <div class="content">
      <div>
        <div>
          <button><img src="/img/arrow_back.png" alt="" /></button>
          <div>
            <h1>Konto erstellen</h1>
            <span
              >Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
              DABubble-Konto.</span
            >
          </div>
        </div>
        <div>
          <div><input type="text" placeholder="Name und Nachname" /></div>
          <div><input type="email" placeholder="beispielname@email.com" /></div>
          <div><input type="password" placeholder="Passwort" /></div>
        </div>
        <div>
          <input type="checkbox" /><span
            >Ich stimme der<a> Datenschutzerklärung</a>zu.</span
          >
        </div>
        <div><button>Weiter</button></div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
