<main>
    <div class="card">
        <section class="card-header">
            <div class="align-center"># Entwicklerteam
                <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
            </div>
            <div class="align-center gap-10">
                <div class="avatar-container">
                    <img class="avatar" src="img/avatars/avatar_1.png" alt="Name">
                    <img class="avatar" src="img/avatars/avatar_2.png" alt="Name">
                    <img class="avatar" src="img/avatars/avatar_3.png" alt="Name">
                </div>
                3
                <button mat-mini-fab>
                    <mat-icon>person_add</mat-icon>
                </button>
            </div>
        </section>
    </div>
</main>