<main>
    <div class="card">
        <section class="card-header">
            <div class="align-center"># Entwicklerteam
                <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
            </div>
            <div class="align-center gap-10">
                <div class="avatar-container">
                    <img class="avatar" src="img/avatars/avatar_1.png" alt="Name">
                    <img class="avatar" src="img/avatars/avatar_2.png" alt="Name">
                    <img class="avatar" src="img/avatars/avatar_3.png" alt="Name">
                </div>
                3
                <button mat-mini-fab>
                    <mat-icon>person_add</mat-icon>
                </button>
            </div>
        </section>

        <section class="chat-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sit sint
            perferendis accusantium dolore
            molestias, incidunt atque dolor amet, aperiam veritatis sunt corrupti in esse placeat soluta fuga totam
            eveniet.</section>

        <section class="card-footer">
            <div class="input-container">
                <textarea name="" id="" rows="4" placeholder="Nachricht an #Entwicklerteam"></textarea>

                <div class="action-container">
                    <div class="gap-10">
                        <mat-icon class="hover-filter">sentiment_satisfied</mat-icon>
                        <mat-icon class="hover-filter">alternate_email</mat-icon>
                    </div>
                    <button mat-button>
                        <mat-icon class="filter-purple">send</mat-icon></button>
                </div>
            </div>
        </section>
    </div>
</main>