.content-container {
  display: grid;
  grid-template-columns: 366px 1fr;
  grid-template-rows: auto 1fr;
  height: 100svh;
}

app-header {
  grid-column: span 3;
}

.placeholder-channel {
  grid-column: 1;
  grid-row: 2;
}

.chat-content {
  grid-column: 2;
  grid-row: 2;
}

.placeholder-tread {
  width: 485px;
}
