<main>
    <div class="thread-channel-close-button-container">
        <div class="thread-channel-container">
            <div class="thread-container">
                <p>Thread</p>
            </div>
            <div class="channel-name-container">
                # Entwicklerteam
            </div>
        </div>
        <div class="close-button">
            <img src="../../../public/img/close.png" alt="close">
        </div>
    </div>
    <div>
        <div class="user-message-container">
            <div class="user-profile-avatar-container">
                <img src="../../../public/img/avatars/avatar_4.png" alt="">
            </div>
            <div>Noah Braun</div>
            <div>14:25Uhr</div>
            <div>Welche Version ist aktuell von Angular?</div>
        </div>
    </div>
</main>