<div class="profile-main-cont">
    <div class="profile-header">
        <div>Profil</div>
        <div class="close"><img src="img/close.png" alt=""></div>
    </div>
    <div class="picture-cont"><img src="img/profile_img/1.png" alt=""></div>
    <div class="discription-cont">
        <div class="info-edit">
            <div class="name">Frederik Beck</div>
            <div class="edit-btn">Bearbeiten</div>
        </div>
        <div class="status-cont">
            <div class="circle"></div>
            <div class="status">Aktiv</div>
        </div>
    </div>
    <div class="contact-cont">
        <div class="envelope"><img src="img/mail.png" alt=""></div>
        <div class="contact">
            <p class="email">Email-Adresse</p>
            <div class="email-route">fred.beck&#64;mail.com</div>
        </div>
    </div>
</div>